In [24]:
import pandas as pd
import nltk
import gensim
from gensim.parsing.preprocessing import STOPWORDS
from sklearn.feature_extraction.text import CountVectorizer
import numpy as np
np.random.seed(42)
from collections import Counter
from gensim.utils import simple_preprocess
from nltk.stem import WordNetLemmatizer, SnowballStemmer

In [34]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to /home/tudor/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.

True

In [54]:
def lemmatize_stemming(text):
    stemmer = SnowballStemmer(language='english')
    return stemmer.stem(WordNetLemmatizer().lemmatize(text, pos='v'))

def preprocess(text):
    result = []
    for token in gensim.utils.simple_preprocess(text):
        if token not in gensim.parsing.preprocessing.STOPWORDS and len(token) > 3:
            result.append(lemmatize_stemming(token))
    return result

In [50]:
data = pd.read_csv("./bbc-text.csv")

In [51]:
data.head(20)

         category                                               text
0            tech  tv future in the hands of viewers with home th...
1        business  worldcom boss  left books alone  former worldc...
2           sport  tigers wary of farrell  gamble  leicester say ...
3           sport  yeading face newcastle in fa cup premiership s...
4   entertainment  ocean s twelve raids box office ocean s twelve...
5        politics  howard hits back at mongrel jibe michael howar...
6        politics  blair prepares to name poll date tony blair is...
7           sport  henman hopes ended in dubai third seed tim hen...
8           sport  wilkinson fit to face edinburgh england captai...
9   entertainment  last star wars  not for children  the sixth an...
10  entertainment  berlin cheers for anti-nazi film a german movi...
11       business  virgin blue shares plummet 20% shares in austr...
12       business  crude oil prices back above $50 cold weather a...
13       politics  hague  given up  his pm ambition former conser...
14          sport  moya emotional after davis cup win carlos moya...
15       business  s korean credit card firm rescued south korea ...
16       politics  howard backs stem cell research michael howard...
17          sport  connors boost for british tennis former world ...
18       business  japanese banking battle at an end japan s sumi...
19           tech  games maker fights for survival one of britain...

In [52]:
data.category.unique()

array(['tech', 'business', 'sport', 'entertainment', 'politics'],
      dtype=object)

In [53]:
categories = data.category.unique()

In [47]:
print(categories)

['tech' 'business' 'sport' 'entertainment' 'politics']

In [55]:
texts = []
for cat in categories:
    print(cat)
    category_df = data[data.category == cat]
    words = preprocess(" ".join(category_df.text))

tech
business
sport
entertainment
politics